.accordion {
  margin: 33px;
  overflow: hidden;
  & .accordion-header {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background: var(--main-color-red);
    cursor: pointer;
    & > * {
      margin-inline: 18px;
    }
    & h3 {
      font-size: 24px;
      color: var(--second-font-color);
      font-weight: 500;
    }
    & img {
      transform: rotate(0deg);
      transition: transform 0.5s cubic-bezier(1, -0.56, 0.16, 1.47);
    }
  }
  & p,
  ul {
    border-radius: 5px;
    background: var(--main-bg-color);
    padding-inline: 20px;
    position: relative;
    z-index: -1;
    overflow: hidden;
  }
  & .close {
    transform: translateY(-100%);
    padding-block: 0px;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
  & .open {
    opacity: 1;
    transform: translateY(-5%);
    padding-top: 30px;
    padding-bottom: 10px;
    max-height: 300px;
    transition: all 0.5s ease-in-out;
  }

  & .rotate {
    transform: rotate(180deg) !important;
    transition: transform 0.5s cubic-bezier(1, -0.56, 0.16, 1.47);
  }
}

@media all and (max-width: 768px) {
  .accordion {
    margin-inline: 0px;
  }
}
