#a-propos-container {
  max-width: 1240px;
  & .accordion-section {
    margin: auto;
    max-width: 85%;
  }
}

@media (max-width: 750px) {
  #a-propos-container {
    & .accordion-section {
      max-width: 100%;
    }
  }
}
