.Rating {
  display: inline-flex;
  max-width: 196px;
  width: 100%;
  & > * {
    padding-inline: 3px;
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .Rating {
    max-width: 98px;
  }
}
