.logement-tags {
  display: inline-flex;
  & p {
    border-radius: 10px;
    background: #ff6060;
    color: var(--second-font-color);
    min-width: 100px;
    padding-block: 2px;
    padding-inline: 15px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
  }
}
